// Импорт ZUI
@import "../node_modules/zharikov-ui/source/scss/styles";
$colors: (
  primary: (background-color: $primary, color: $white),
  success: (background-color: $success, color: $white),
  waring: (background-color: $waring, color: $text),
  danger: (background-color: $danger, color: $white)
);

.label {
  width: auto;
  border-radius: $zui-4;
  background: $border;
  padding: 0 $zui-4;
  box-sizing: border-box;
  @include text($bold-x3,$text);
  @include flex($rw,$fs,$cr,0,$di);

  @each $color-name, $color-map in $colors {
    &.#{$color-name} {
      border-color: map-get($color-map, border);
      background-color: map-get($color-map, background-color);
      color: map-get($color-map, color);
    }
  }
}